<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(body)">
	<head>
		<meta charset="UTF-8" />
		<link th:href="@{/css/layout.css}" rel="stylesheet" />
		<link th:href="@{/css/style.css}" rel="stylesheet" />
		<title>REMS</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<div id="container">
			<div th:replace="~{common/sidebar::layout-sidebar}"></div>
			<div id="main" th:replace="${body}"></div>
		</div>
		<div th:replace="~{common/footer::layout-footer}"></div>
	</body>
</html>