@charset "UTF-8";

body{
	margin: 0;
}

div#container{
	flex-grow: 1;
}

div#sidebar{
	background-color: #7cfc00;
	float: left;
	width: 150px;
	min-height: 94vh;
}

div#main{
	float: left;
	min-height: 94vh;
	min-width: 95vh;
}

div#footer{
	background-color: #7cfc00;
	display: table;
	clear: left;
	width: 100%;
}

.center{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.bottom{
	text-align: center;
	display: table-cell;
	vertical-align: bottom;
}

.child{
	display: inline-block;
}

.layout{
	display: flex;
	flex-direction: column;
	min-height: 100lvh;
}