@charset "UTF-8";

.right{
	text-align: right;
}

.input{
	height: 50px;
}

.button{
	height: 100px;
}

.button1{
	background-color: #174a5c;
	color: white;
	border-style: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.button1:disabled{
	filter:brightness(0.8);
	cursor:not-allowed;
}

.button1:active{
	transform:translate(3px, 3px);
	box-shadow:non;
}

.button1:hover{
	background-color: orange;
	color: white;
}

.login{
	text-align: center;
	vertical-align: middle;
}

table{
	border-collapse: collapse;
	border: solid;
	min-width: 85vh;
	margin: 0 auto;
}

th{
	border: solid thin;
	height: 2em;
	padding: 0;
	background-color: aqua;
	text-align: center;
}

td{
	border: solid thin;
	height: 1.4em;
	padding: 0;
}

h1{
	text-align: center;
}