<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout::layout(~{::body/content()})}">
	<head>
		<meta charset="UTF-8">
	</head>

	<body>
		<div id="main">
			<h1>契約者新規登録</h1>
			<form th:action="@{/contract/insert}" method="POST" th:object="${contractDetailForm}">
				<div>
					契約者ID：<input type="text" th:field="*{key}" />
				</div>
				<span th:if="${#fields.hasErrors('key')}" th:errors="*{key}"></span>
				<div>
					契約日：<input type="date" th:field="*{date}" />
				</div>
				<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
				<div>
					契約者名：<input type="text" th:field="*{name}" />
				</div>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				<div>
					契約者名ｶﾅ：<input type="text" th:field="*{kana}" />
				</div>
				<span th:if="${#fields.hasErrors('kana')}" th:errors="*{kana}"></span>
				<div>
					郵便番号：<input type="text" th:field="*{zip}" onBlur="search()" />
				</div>
				<span th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"></span>
				<div>
					都道府県：
					<select th:field="*{pref}">
						<option th:each="pref: ${prefs}" th:value="${pref.code}" th:text="${pref.name}"></option>
					</select>
				</div>
				<span th:if="${#fields.hasErrors('pref')}" th:errors="*{pref}"></span>
				<div>
					市区町村：<input type="text" th:field="*{city}" />
				</div>
				<span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
				<div>
					その他番地：<input type="text" th:field="*{address}" />
				</div>
				<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
				<div>
					ビル・マンション名等：<input type="text" th:field="*{otherAddress}" />
				</div>
				<span th:if="${#fields.hasErrors('otherAddress')}" th:errors="*{otherAddress}"></span>
				<div>
					連絡先：<input type="text" th:field="*{tel}" />
				</div>
				<span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}"></span>
				<div>
					メールアドレス：<input type="email" th:field="*{email}" />
				</div>
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>
				<button class="button1" type="submit">登録</button>
				<button class="button1" type="button" onclick="window.location.href='/contract_list'">戻る</button>
			</form>
		</div>
		<script>
			const search_url = 'https://zipcloud.ibsnet.co.jp/api/search';
			function search(){
				let zip = $('#zip').val();
				if (zip != null){
					zip = zip.replace('-', '');
					let address = '';
					$.ajax(
						{
							url: search_url,
							type: 'get',
							dataType: 'json',
							data: {
								zipcode: zip
							}
						}
					).done(
						function(response){
							var results = response.results;
							if(results == null || results.length == 0){
								$('#zip').css('color', 'red');
								alert(response.message);
							} else {
								const element = results[0];
								if ((element.prefcode).length == 1){
									prefcd = '0' + element.prefcode;
								} else {
									prefcd = element.prefcode;
								}
								$('#zip').css('color', 'black');
								$('#pref').val(prefcd);
								$('#city').val(element.address2);
								$('#address').val(element.address3);
							}
						}
					)
				}
			}
		</script>
	</body>
</html>