<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout::layout(~{::body/content()})}">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div id="main">
			<h1>契約管理</h1>
			<form th:action="@{/contract_search}" th:object="${contractSearchForm}" method="POST">
				<div>
					契約ID：<input type="text" th:field="*{searchKey}" />
				</div>
				<div>
					契約日：<input type="date" th:field="*{fromDate}" />～<input type="date" th:field="*{toDate}" />
					契約満了日：<input type="date" th:field="*{fromLimit}" />～<input type="date" th:field="*{toLimit}" />
				</div>
				<div>
					契約名：<input type="text" th:field="*{searchName}" />
					契約名ｶﾅ：<input type="text" th:field="*{searchKana}" />
				</div>
				<div class="right">
					<input type="button" class="button1" id="clear" value="クリア" />
					<input type="submit" class="button1" value="検索" />
				</div>
			</form>
			<div>
				<button class="button1" type="button" onclick="location.href='/contract_create'">新規</button>
				<button class="button1" type="button" id="update" disabled="disabled">修正</button>
				<button class="button1" type="button" id="delete" disabled="disabled">削除</button>
			</div>
			<div>
				<table id="table">
					<tr>
						<th style="width:5%;"><button class="button1" type="button" id="uncheck" disabled="disabled">クリア</button></th>
						<th style="width:15%;">契約ID</th>
						<th style="width:25%;">契約名</th>
						<th style="width:25%;">契約名ｶﾅ</th>
						<th style="width:15%;">契約日</th>
						<th style="width:15%;">契約満了日</th>
					</tr>
					<tr th:each="contract: ${contracts}">
						<td style="text-align:center;">
							<input type="radio" name="chk" class="checks" th:value="${contract.contractKey}" />
						</td>
						<td th:text="${contract.contractKey}"></td>
						<td th:text="${contract.contractName}"></td>
						<td th:text="${contract.contractKana}"></td>
						<td th:text="${contract.contractDate}" style="text-align:center;"></td>
						<td th:text="${contract.contractLimit}" style="text-align:center;"></td>
					</tr>
				</table>
			</div>
		</div>
		<script>
			$(document).ready(function(){
				$('#clear').click(function(){
					$('#searchKey').val("");
					$('#fromDate').val("");
					$('#toDate').val("");
					$('#fromLimit').val("");
					$('#toLimit').val("");
					$('#searchName').val("");
					$('#searchKana').val("");
					window.location.href = "/contract_list";
				})

				$('.checks').click(function(){
					$('#update').prop('disabled', false);
					$('#delete').prop('disabled', false);
					$('#uncheck').prop('disabled', false);
				})

				$('#uncheck').click(function(){
					$('input[name="chk"]:checked').prop('checked', false);
					$('#update').prop('disabled', true);
					$('#delete').prop('disabled', true);
					$('#uncheck').prop('disabled', true);
				});

				$('#update').click(function(){
					var value = $("input[name='chk']:checked").val();
					var href = "/contract/detail/" + value;
					window.location.href = href;
				})

				$('#delete').click(function(){
					if(confirm("削除しても宜しいですか？")){
						var value = $("input[name='chk']:checked").val();
						var href = "/contract/delete/" + value;
						window.location.href = href;
					}
				})
			});
		</script>
	</body>
</html>