<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout::layout(~{::body/content()})}">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="center">
			<h1>顧客一覧</h1>
			<table>
				<tr>
					<th>顧客名</th>
					<th>顧客名ｶﾅ</th>
					<th>電話番号</th>
					<th>FAX番号</th>
					<th>携帯番号</th>
				</tr>
				<tr th:each="customer: ${customers}">
					<td th:text="${customer.customer_name}"></td>
					<td th:text="${customer.customer_kana}"></td>
					<td th:text="${customer.phone_no}"></td>
					<td th:text="${customer.fax_no}"></td>
					<td th:text="${customer.mobile_phone}"></td>
				</tr>
			</table>
		</div>
	</body>
</html>